<!-- Tutu -->
<section class="bg-light page-section" id="{{ site.data.sitetext.horaire.section | default: horaire }}">
<div class="container">
  <div class="row">
	<div class="col col-md-auto">
	  <h2 class="section-heading text-uppercase">{{ site.data.sitetext.horaire.title }}</h2>
	  <h3 class="section-subheading text-muted">{{ site.data.sitetext.horaire.text }}</h3>
	  <img src={{site.data.sitetext.horaire.image1}}>
	  <img src={{site.data.sitetext.horaire.image2}}>	  
	</div>
	<div class="col col-md-auto">
	  <h3 class="section-subheading text-muted">{{ site.data.sitetext.horaire.text2 }}</h3>
	  <img src={{site.data.sitetext.horaire.image3}}>
	  <img src={{site.data.sitetext.horaire.image4}}>	  
	</div>
  </div>
</div>
</section>
<!-- End Team -->
